<strong>

  {{#unless requestPassword}}
    <span {{action 'toggle'}} class="test-secret-message-toggle">
      {{title}} {{unless open '+'}}
    </span>
  {{else}}
    <form {{action 'requestAuth' password}}>
      {{one-way-input
          password
          update=(action 'inputPassword')
          placeholder="Password"
          class="input-text"
      }}
      <button type="submit" name="button" class="button">Go</button>
    </form>
  {{/unless}}
</strong>
{{#if open}}
  <p class="test-secret-message-message">{{yield}}</p>
{{/if}}
